# Store this file in ~/.aws/config
[default]
# Uncomment these lines if you are not using the application path in opzworks/conf
# aws_access_key_id     = ilmiochiaveID
# aws_secret_access_key = ilmiochiavesegreto
region                = eu-west-1
output                = json
app-id-environment1   = the-apps-opsworks-id-in-environment-1 (must correspond to -e)
app-id-environment2   = the-apps-opsworks-id-in-environment-2 (must correspond to -e)
